.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.userDetail {
  position: relative;
  background-color: white;
  border: 1px solid #f1f1f1;
  width: 25%;
  max-width: 350px;
  border-radius: 2px;
  text-align: center;
}
.userDetail .close {
  position: absolute;
  right: 8px;
  top: 0;
  background-color: transparent;
  border: none;
  font-size: 25px;
}
.userDetail .topPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #f1f1f1;
}
.userDetail .topPart img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.userDetail .topPart h4 {
  margin-top: 15px;
}
.userDetail .topPart p {
  font-size: 14px;
  color: #505b6c;
}
.userDetail .bottomPart {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.userDetail .bottomPart p {
  font-size: 15px;
}
.userDetail .bottomPart p b {
  display: inline-block;
  width: 60px;
}
.userDetail .bottomPart p a {
  color: #5046e5;
}

.userDetail .sendMessage {
  width: 90%;
  margin: 15px auto;
  background-color: #5046e5;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 7px;
}
